<!DOCTYPE html>
<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/main_layout}">
		  <head>
		  		<meta name="_csrf" th:content="${_csrf.token}"/>
				<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
				<style>
			    		.id_ok{
							color:#008000;
							display: none;
							}

						.id_already{
						color:#6A82FB; 
						display: none;
						}
		    	</style>
		  </head>

<th:block layout:fragment="contents">
<!-- xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
    
    function checkId(){
    	let memId = $('#memId').val();
    	console.log("memID >> " + memId);
    	
    	 var token = $("meta[name='_csrf']").attr("content");
    	 var header = $("meta[name='_csrf_header']").attr("content");
/*     	
    	let joinForm = document.joinForm;
    	let memId = joinForm.memId.value; */
    	$.ajax({		
    		type:'POST',
			url:'/joinForm/checkId',
			data:{memId:memId},
			beforeSend : function(xhr){
				xhr.setRequestHeader(header, token);
			},
			success:function(cnt){ //컨트롤러에서 넘어온 cnt값을 받는다 
				 if(cnt != 1){ //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 아이디 
					 $('.id_ok').css("display","inline-block"); 
	                    $('.id_already').css("display", "none");
	                } else { // cnt가 1일 경우 -> 이미 존재하는 아이디
	                	$('.id_already').css("display","inline-block");
	                    $('.id_ok').css("display", "none");
	                }
			console.log("cnt >> " + cnt);
            },
            error:function(){
                alert("에러입니다");
            }
    	})
    }
    		

    </script>

	
    <div class="login_wrapper text-center">
        <form name="joinForm" id="joinForm" action="/member/join" th:object="${MemberDto}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}"/>
        <div class="row">
        	<div class="col-12">
				<input type="text" id = "memId" name="memId" placeholder="아이디"   class="form-control" oninput = "checkId()" />
				<span class="id_already">누군가 이 아이디를 사용하고 있어요.</span>
				<span class="id_ok">사용 가능한 아이디입니다.</span>
        	</div>     
        </div>
            <input type="text" name="memNick" class="form-control" placeholder="닉네임" autocomplete="off" />
            <input type="password" name="memPw" class="form-control" placeholder="비밀번호" autocomplete="off" />
            <input type="password" name="memPwCheck" class="form-control" placeholder="비밀번호 확인" autocomplete="off" />
            <div class="col-12">
            	<div class="btn-group">
             	<input type="submit" value="등록"> 
                <a th:href="@{/loginForm}"><button type="button" class="btn btn-secondary btn-large form-control" id="btn_loginForm">Back</button></a>
            </div>
            </div>
        </form>
    </div>  
  </th:block>
</html>

