<!DOCTYPE html>
<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/main_layout}">
		  <head>
		  		<meta name="_csrf" th:content="${_csrf.token}"/>
				<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		  </head>

<th:block layout:fragment="contents">
<!-- xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" -->
    
    <script type="text/javascript">
    	
    	//회원가입
    	function joinMember(){
    		let joinForm = document.joinForm;
    		
    		let memId = joinForm.memId.value.trim();
    		let memNick = joinForm.memNick.value.trim();
    		let memPw = joinForm.memPw.value.trim();
    		
    		return true;
    		
    		//joinForm.submit();
    	} 
    	

    </script>

	
    <div class="login_wrapper text-center">
        <form name="joinForm" id="joinForm" action="/member/join" th:object="${MemberDto}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}"/>
        <div class="row">
        	<div class="col-8">
        		<input type="text" name="memId" class="form-control" placeholder="아이디" autocomplete="off" />
        	</div>
        	 <div class="col-4">
        	 <a th:href="@{/main}"><button type="button" class="btn btn-dark btn-large form-control">중복확인</button></a>
        	 </div>       
        </div>
            <input type="text" name="memNick" class="form-control" placeholder="닉네임" autocomplete="off" />
            <input type="password" name="memPw" class="form-control" placeholder="비밀번호" autocomplete="off" />
            <input type="password" name="memPwCheck" class="form-control" placeholder="비밀번호 확인" autocomplete="off" />
            <div class="col-12">
            	<div class="btn-group">
             	<input type="submit" value="등록"> 
                <!-- <button type="submit" class="btn btn-dark btn-large form-control">Join</button> -->
                <a th:href="@{/loginForm}"><button type="button" class="btn btn-secondary btn-large form-control" id="btn_loginForm">Back</button></a>
            </div>
            </div>
        </form>
    </div>  
  </th:block>
</html>

