<!DOCTYPE html>
<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/main_layout}">
		  
		 <head>
		  		<meta name="_csrf" th:content="${_csrf.token}"/>
				<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		  </head>
		   
<th:block layout:fragment="contents">
    
    <script type="text/javascript">
    	
    	//로그인
    	function loginMember(){
			let loginForm = document.loginForm;

			let memId = loginForm.memId.value.trim();
		
    		loginForm.submit();
    	}
    	
    	function movJoin(){
    		location.href="/joinForm";
    	}
    	

    </script>


	 <body >
	 <div class="text-center">
 		<form name="loginForm" id="loginForm" action="/loginForm" th:object="${MemberDto}" method="post"> <!-- 요청 보내기-->
     		<img src="img/logo_name_black.png" style="width:400px; height:150px;">
     		<input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }"/>
     		<input type="text" id="memId" name="memId" class="form-control" placeholder="id"  autofocus>
     		<input type="password" id="memPw" name="memPw" class="form-control" placeholder="password" >    
	 		 <div th:if="${param.error}">
        		<p th:text="${exception}" class="alert alert-danger"></p>
    		</div>
	 	
	 	
			<div class="col-12">
				<div class="btn-group btn-group-lg">
         			<button type="submit" class="btn btn-dark "  >로그인</button>
         			<button type="button" class="btn" style="background-color:#6C757D; color:white;" onclick="movJoin()">회원가입</button>
         			
 				</div> 	    
			</div>
 	</form>
 	</div>
</th:block>

</html>

