<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/main_layout}">
  	<head>
	    <link rel="stylesheet" type="text/css" href="./css/survForm.css">
	    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
	    <script type="text/javascript" src="./js/regSurv.js"></script>
	    <meta name="_csrf" th:content="${_csrf.token}">
	    <meta name="_csrf_header" th:content="${_csrf.headerName}">
		<title>설문 만들기</title>
    </head>
    <th:block layout:fragment="contents">
	    <body>
	    설문 수정 구현중...
	    </body>
    </th:block>
</html>