<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/main_layout}">
  	<head>
  		<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="./css/survList.css">
	    <script type="text/javascript" src="./js/myList.js"></script>
		<title>My Survey</title>
  </head>
  <th:block layout:fragment="contents">
	<body>
	<h2>📑 My Survey</h2>
	<br>
	
	<!-- SearchForm -->
    <form id="searchForm">
	    <div id="search_list">
	    <select id="srchTyp" style="border:2px solid #6C757D" th:value="${pagination.srchTyp}" th:field="${pagination.srchTyp}">
                <option th:value="'useYN'">전체</option>
                <option th:value="'useY'">사용중</option>
                <option th:value="'useN'">사용 안함</option>
            </select>
            <input type="text" id="keyword" name="keyword" placeholder="설문 제목을 입력하세요" th:value="${pagination?.keyword}" style="width: 300px; border:2px solid #6C757D">
            <button type="button" id="srchBtn" onclick="searchKw();">검색 🔍</button>
            <button type="button" id="reset" onclick="searchReset();">초기화 ♻️</button>
		</div>
    </form>
	
	<span style="font-weight:bold;">나의 설문 수 : <span th:text="${total}"></span></span>
	<div class="right">
	<select id="cntSelectBox" name="cntSelectBox"
		th:onchange="changeSelectBox([[${pagination.currentPage}]],[[${pagination.cntPerPage}]],[[${pagination.pageSize}]]);"
		th:value="${pagination.cntPerPage}" th:field="${pagination.cntPerPage}">
		<option th:value="10">10개씩</option>
		<option th:value="20">20개씩</option>
		<option th:value="30">30개씩</option>
	</select>
	</div>
	
	<div class="table">
		<table>
			<thead>
				<tr>
					<th>설문 번호</th>
					<th>설문 제목</th>
					<th>사용 여부</th>
					<th>등록 날짜</th>
					<th>최종 수정 날짜</th>
					<th>결과</th>
				</tr>
			</thead>
			<tbody>
			<th:block th:if="${survList} != null">
			<tr th:each="surv : ${survList}">
					<td class="survno" th:text="${surv.survNo}"></td>
					<td class="survtitle"><a th:text="${surv.survTitle}" href="/modSurvForm"></a></td>
					<td class="useYn">
						<span th:if="${#strings.equals(surv.useYn, 'Y')}">사용중</span>
						<span th:unless="${#strings.equals(surv.useYn, 'Y')}">사용 안함</span>
					</td>
					<td class="regdate" th:text="${#dates.format(surv.regDate, 'yyyy-MM-dd HH:mm')}"></td>
					<td class="moddate" th:text="${#dates.format(surv.modDate, 'yyyy-MM-dd HH:mm')}"></td>
					<td class="result"><button th:onclick="viewRslt([[${surv.survNo}]]);">결과 보기</button></td>
				</tr>
			</th:block>
			<th:block th:unless="${survList} != null">
				<tr>
					<td colspan="5" style="text-align:center;">회원님이 생성한 설문이 없습니다.</td>
				</tr>
			</th:block>
			</tbody>
		</table>
	</div>
	
	<!--paginate -->
	<th:block th:if="${survList} != null">
    <div class="paginate">
        <div class="paging">
        <!-- 이전 표시 -->
        <th:block th:if="${pagination.currentPage != 1}">
        <a class="direction prev" href="#"
        	th:attr="onclick=|movePage(1, '${pagination.cntPerPage}', '${pagination.pageSize}')|">&lt;&lt;</a>
        <a class="direction prev" href="#"
        	th:attr="onclick=|movePage('${pagination.currentPage - 1}', '${pagination.cntPerPage}', '${pagination.pageSize}')|">&lt;</a>
        </th:block>
        
        <!-- 페이지 번호 -->
        <th:block th:each="idx : ${#numbers.sequence(pagination.firstPage, pagination.lastPage)}">
       		<th:block th:if="${pagination.currentPage == idx}">
		        <a href="#"
		        	style="background-color:#EEEEEE; font-weight:700; color:black; font-size: large;"
		        	th:text="${idx}"></a>
	        </th:block>
	        <th:block th:unless="${pagination.currentPage == idx}">
		        <a href="#"
		        	th:attr="onclick=|movePage('${idx}', '${pagination.cntPerPage}', '${pagination.pageSize}')|"
		        	th:text="${idx}"></a>
	        </th:block>
        </th:block>
        
        <!-- 다음 표시 -->
        <th:block th:if="${pagination?.currentPage != pagination?.lastPage}">
        <a class="direction next" href="#"
        	th:attr="onclick=|movePage('${pagination.currentPage + 1}', '${pagination.cntPerPage}', '${pagination.pageSize}')|">&gt;</a>
        <a class="direction next" href="#"
        	th:attr="onclick=|movePage('${pagination.lastPage}', '${pagination.cntPerPage}', '${pagination.pageSize}')|">&gt;&gt;</a>
        </th:block>
        </div>
    </div>
	</th:block>
	<!-- /paginate -->
	
	
	</body>
  </th:block>
</html>
