<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/main_layout}">
  	<head>
	    <link rel="stylesheet" type="text/css" href="./css/survForm.css">
	    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
	    <script type="text/javascript" src="./js/regSurv.js"></script>
	    <meta name="_csrf" th:content="${_csrf.token}">
	    <meta name="_csrf_header" th:content="${_csrf.headerName}">
		<title>설문 만들기</title>
  </head>
  <th:block layout:fragment="contents">
	
	
	<body>
	  <h2>✏️ 설문 만들기</h2>
	  <div class="surv-container">
	    <!-- 설문 기본정보 START -->
		<div class="form-table-title-continer">
		   <table class="form-tbl">
		   <caption class="form-tbl-caption">
		   	  <span>설문 기본정보</span>
		   	  <button id="regSurvBtn">등록</button>
		   </caption>
		   <input type="hidden"  name="${_csrf.parameterName }" value="${_csrf.token }"/>
		       <tr>
		           <td class="form-tbl-col">제목</td>
		           <td><input id="survTitle" type="text" placeholder="제목을 입력해주세요(최대30자)" /></td>
		           <td class="form-tbl-col">등록자</td>
		           <td th:text="${memNick}"></td>
		       </tr>
		       <tr>
	               <td class="form-tbl-col">등록일자</td>
	               <td><span id="regDate"></span></td>
	               <td class="form-tbl-col">사용여부</td>
	               <td>
						<select id="useYn">
							<option value="Y">예</option>
							<option value="N">아니오</option>
						</select>
				   </td>
	           </tr>
		   </table>
		</div>
		<!-- 설문 기본정보 END -->
		

		<!-- 설문지 소개 START -->
		<div class="form-table-intro-container">
		<table id="quest-table" class="form-tbl">
		   <caption class="form-tbl-caption"><span>설문지 소개</span></caption>
		   <tr>
		       <td class="form-tbl-col">소개</td>
		       <td><textarea id="survDesc" style="width:100%;"></textarea></td>
		   </tr>
		</table>
		</div>
		<!-- 설문지 소개 END -->
		<!-- 설문지 질문 START -->
		<div>
		<table id="surv_quests_tbl" class="form-tbl">
	       <caption class="form-tbl-caption">
	       		<span>설문지 질문</span>
	       		<button id="addQuestRow">추가</button>
	       </caption>
	       
	       <thead>
	            <th class="form-tbl-col"></th>
	            <th class="form-tbl-col">질문번호</th>
	            <th class="form-tbl-col">질문유형</th>
	            <th class="form-tbl-col">질문내용</th>
	       </thead>
	       <tbody>
	         <tr class="item1">
	            <td style="text-align:center;">
	                <button id="delQuestRow" onclick="delQuest(this);">🗑️</button>
	            </td>
	            <td id="qustNo" class="questNo">질문1</td>
	            <td> 
	                <select name="qustType" id="qustType" onchange="showQuest(this)">
	                    <option value="short">단답형</option>
	                    <option value="long">장문형</option>
	                    <option value="select">드롭다운형</option>
	                    <option value="radio">라디오버튼형</option>
	                    <option value="check">체크박스형</option>
	                </select>
	            </td>
	            <td>
	                <div class="surv_opt_box">
	                    <input id="qustCont" type="text" placeholder="질문을 입력해주세요">
	                </div>
	            </td>
	         </tr>
	       </tbody>
	    </table>
	    </div>
		</div>
		<!-- 설문지 질문 END -->
	  </div>
	</body>
  </th:block>
</html>
