<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/main_layout}">
  	<head>
  		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  		<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="./css/survRslt.css">
	    <script type="text/javascript" src="./js/survInfo.js"></script>
	    <script th:inline="javascript">
		    let memId =  /*[[${memId}]]*/ null;
		    let survNo = /*[[${survey.survNo}]]*/ null;
		    let currentPage = /*[[${pagination.currentPage}]]*/ 1;
		    let pageSize = /*[[${pagination.pageSize}]]*/ 10;
		    let cntPerPage = /*[[${pagination.cntPerPage}]]*/ 10;
		    let srchTyp = /*[[${pagination.srchTyp}]]*/ null;
		    let keyword = /*[[${pagination.keyword}]]*/ null;
		</script>
		<title>설문 리스트</title>
  </head>
  <th:block layout:fragment="contents">
	<body>
	<div class="body">
	<h2>👀 설문 상세</h2>
	<br>

	<div class="table">
		<table id="survInfo">
		<tr>
			<th>설문 제목</th>
			<td colspan="3" class="survtitle" th:text="${survey.survTitle}"></td>
		</tr>
		<tr>
			<th>등록자</th>
			<td colspan="3" class="survtitle" th:text="${survey.memNick}"></td>
		</tr>
		<tr>
			<th>등록 날짜</th>
			<td class="regdate" th:text="${#dates.format(survey.regDate, 'yyyy-MM-dd HH:mm')}"></td>
			<th>수정 날짜</th>
			<td class="moddate" th:text="${#dates.format(survey.modDate, 'yyyy-MM-dd HH:mm')}"></td>
		</tr>
		<tr>
			<th colspan="4">설문 설명</th>
		</tr>
		<tr>
			<td colspan="4" th:if="${survey.survDesc} != null" >
			<div class="survdesc">
			<span th:utext="${survey.survDesc}"></span>
			</div>
			</td>
			<td colspan="4" class="descNull" th:unless="${survey.survDesc} != null">[설문 설명 없음]</td>
		</tr>
		</table>
	</div>
	<div id="btn">
	<button onclick="resForm()">응답 하기</button>
	<button onclick="goList()">목록 보기</button>
	</div>
	
	</div>
	</body>
  </th:block>
</html>
