<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/main_layout}">
	<head>
  		<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
  		<script type="text/javascript" src="./js/survRslt.js"></script>
  		<link rel="stylesheet" type="text/css" href="./css/survRslt.css">
		<title>설문 결과</title>
	</head>
<th:block layout:fragment="contents">
	<script th:inline="javascript">
		    let qustList =  /*[[${survey.survqustList}]]*/ null;
	</script>
	<body>
	<h2>📋 설문 결과</h2>
	<br>
	
	<table id="survInfo">
		<tr>
			<th>설문 제목</th>
			<td colspan="5" class="survtitle" th:text="${survey.survTitle}"></td>
		</tr>
		<tr>
			<th>등록 날짜</th>
			<td class="regdate" th:text="${#dates.format(survey.regDate, 'yyyy-MM-dd HH:mm')}"></td>
			<th>수정 날짜</th>
			<td class="moddate" th:text="${#dates.format(survey.modDate, 'yyyy-MM-dd HH:mm')}"></td>
			<th>사용 여부</th>
			<td class="uesYn">
				<span th:if="${#strings.equals(survey.useYn, 'Y')}">사용중</span>
				<span th:unless="${#strings.equals(survey.useYn, 'Y')}">사용 안함</span>
			</td>
		</tr>
		<tr>
			<th colspan="6">설문 설명</th>
		</tr>
		<tr>
			<td colspan="6" th:if="${survey.survDesc} != null" >
			<div class="survdesc">
			<span th:utext="${survey.survDesc}"></span>
			</div>
			</td>
			<td colspan="6" class="descNull" th:unless="${survey.survDesc} != null">[설문 설명 없음]</td>
		</tr>
	</table>
	<br>
	<h3>📊 응답 결과</h3>
	
	<table id="rslt">
		<th:block th:each="qust : ${survey.survqustList}">
			<tr>
				<th th:text="${qust.qustCont}"></th>
			</tr>
			<th:block th:if="${#strings.equals(qust.qustType, 'long')}">
			<tr>
				<td>응답 <span th:text="${#lists.size(qust.answerList)}"></span>개</td>
			</tr>
			<tr>
				<td>
					<div class="answLong">
					<th:block th:each="answ : ${qust.answerList}">
					<p th:utext="${answ?.answLong}"></p>
					</th:block>
					</div>
				</td>
			</tr>
			</th:block>
			<th:block th:if="${#strings.equals(qust.qustType, 'short')}">
			<tr>
				<td>응답 <span th:id="${qust.qustNo}+total"></span>개</td>
			</tr>
			<tr>
				<td>
					<div class="answShort">
					<th:block th:each="answ : ${qust.answerList}">
					<p>
						<span th:text="${answ?.answCont}"></span>
						<span class="count" th:text="${answ.count}"></span>
					</p>
					</th:block>
					</div>
				</td>
			</tr>
			</th:block>
			<th:block th:unless="${#strings.equals(qust.qustType, 'long')} or ${#strings.equals(qust.qustType, 'short')} ">
			<tr>
				<td>응답 <span th:id="${qust.qustNo}+total"></span>개</td>
			</tr>
			<tr>
				<td>
					<div>
						<canvas th:id="${qust.qustNo}" class="canvas"></canvas>
					</div>
				</td>
			</tr>
			</th:block>
		</th:block>
	</table>
	</body>
  </th:block>
</html>
