<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/main_layout}">
  	<head>
  		<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  		<link rel="stylesheet" type="text/css" href="./css/survRslt.css">
		<title>설문 결과</title>
  </head>
  <th:block layout:fragment="contents">
	<body>
	<h2>📊 설문 결과</h2>
	<br>
	
	<table id="survInfo">
		<tr>
			<th>설문 제목</th>
			<td colspan="5" class="survtitle" th:text="${survey.survTitle}"></td>
		</tr>
		<tr>
			<th>등록 날짜</th>
			<td class="regdate" th:text="${#dates.format(survey.regDate, 'yyyy-MM-dd HH:mm')}"></td>
			<th>수정 날짜</th>
			<td class="moddate" th:text="${#dates.format(survey.modDate, 'yyyy-MM-dd HH:mm')}"></td>
			<th>사용 여부</th>
			<td class="uesYn">
				<span th:if="${#strings.equals(survey.useYn, 'Y')}">사용중</span>
				<span th:unless="${#strings.equals(survey.useYn, 'Y')}">사용 안함</span>
			</td>
		</tr>
		<tr>
			<th colspan="6">설문 설명</th>
		</tr>
		<tr>
			<td colspan="6" th:if="${survey.survDesc} != null" th:utext="${survey.survDesc}"></td>
			<td colspan="6" class="descNull" th:unless="${survey.survDesc} != null">[설문 설명 없음]</td>
		</tr>
	</table>

	</body>
  </th:block>
</html>
