<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/main_layout}">
  	<head>
  		<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

	    <link rel="stylesheet" type="text/css" href="./css/survList.css">
	    <!-- 
	    <script type="text/javascript" src="./js/RegSurv.js"></script>
	     -->
		<title>설문 리스트</title>
  </head>
  <th:block layout:fragment="contents">
	<body>
	<h2>📃 설문 리스트</h2>
	<br>
	<div class="table">
		<table>
			<thead>
				<tr>
					<th>설문 번호</th>
					<th>설문 제목</th>
					<th>등록자</th>
					<th>등록 날짜</th>
					<th>최종 수정 날짜</th>
				</tr>
			</thead>
			<tbody>
			<th:block th:if="${survList} != null">
			<tr th:each="surv : ${survList}">
					<td class="survno" th:text="${surv.survNo}"></td>
					<td class="survtitle" th:text="${surv.survTitle}"></td>
					<td class="regid" th:text="${surv.regId}"></td>
					<td class="regdate" th:text="${#dates.format(surv.regDate, 'yyyy-MM-dd HH:mm')}"></td>
					<td class="moddate" th:text="${#dates.format(surv.modDate, 'yyyy-MM-dd HH:mm')}"></td>
				</tr>
			</th:block>
			<th:block th:unless="${survList} != null">
				<tr>
					<td colspan="5" style="text-align:center;">조회된 설문이 없습니다.</td>
				</tr>
			</th:block>
			</tbody>
		</table>
	</div>
	
	
	</body>
  </th:block>
</html>
