<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="topNaviFragment">

        <div>
        	<nav class="navbar navbar-expand navbar-light bg-secondary topbar">
          	<div class="container-fluid">
    		<div class="collapse navbar-collapse" id="mynavbar">
      		<ul class="navbar-nav me-auto">
        		<li class="nav-item">
          			<a class="nav-link" href="/main">JEB Survey</a>
		        </li>
      		</ul>
      	<form class="d-flex">
      	<div sec:authorize="isAnonymous()">
      		<a href="/loginForm"><button class="btn btn-dark" type="button" >로그인</button></a>
      	</div>
      	<div sec:authorize="isAuthenticated()">
      		<a href="/member/logout"><button class="btn btn-dark" type="button" >로그아웃</button></a>
      	</div>
      	
      </form>
    </div>
  </div>
    </nav>
    </div>
    </div>
</html>