<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="topNaviFragment">

        <div>
        	<nav class="navbar navbar-expand navbar-light bg-secondary topbar">
          	<div class="container-fluid">
    		<div class="collapse navbar-collapse" id="mynavbar">
      		<ul class="navbar-nav me-auto">
        		<li class="nav-item">
          			<a class="nav-link" href="#">JEB Survey</a>
		        </li>
      		</ul>
      	<form class="d-flex">
        <a href="/member"><button class="btn btn-primary" type="button" >로그인</button></a>
      </form>
    </div>
  </div>
    </nav>
    </div>
        
        
    </div>
</html>