@charset "UTF-8";

h2 {
	margin-top:5px;
	margin-bottom:20px;
}

h3 {
	margin-top: 30px;
	margin-bottom: 20px;
}

#survInfo {
	width:100%;
	padding: 20px;
	border-top: 2px solid #EEEEEE;
    border-collapse: collapse;
}

#survInfo th, #survInfo td {
    border-bottom: 2px solid #EEEEEE;
    padding: 10px;
}

#survInfo th {
	text-align: center;
	background-color: #EEEEEE;
}

.regdate, .moddate, .uesYn {
	text-align: center;
}

.descNull {
	color : grey;
	text-align: center;
	font-style: italic;
}

.survdesc {
	overflow:auto;
	max-height:100px;
}

.answLong {
	overflow:auto;
	max-height:300px;
}

#rslt {
	width:100%;
	padding: 20px;
	border-top: 2px solid #EEEEEE;
    border-collapse: collapse;
}

#rslt th {
	width:100%;
	border-top: 2px solid #EEEEEE;
    padding: 10px;
}

#rslt td {
    padding: 10px;
}

#rslt p {
	border-top: 1px solid #EEEEEE;
}