@charset "UTF-8";

h2 {
	margin-top:5px;
	margin-bottom:20px;
}

h3 {
	margin-top: 30px;
	margin-bottom: 20px;
}

#survInfo {
	width:100%;
	padding: 20px;
	border-top: 2px solid #EEEEEE;
    border-collapse: collapse;
}

#survInfo th, #survInfo td {
    border-bottom: 2px solid #EEEEEE;
    padding: 10px;
}

#survInfo th {
	text-align: center;
	background-color: #EEEEEE;
}

.regdate, .moddate, .uesYn {
	text-align: center;
}

.descNull {
	color : grey;
	text-align: center;
	font-style: italic;
}

.survdesc {
	overflow:auto;
	max-height:100px;
}

.answLong, .answShort {
	overflow:auto;
	max-height:300px;
}

#rslt {
	width:100%;
	padding: 20px;
	border-top: 2px solid #EEEEEE;
    border-collapse: collapse;
}

#rslt th {
	width:100%;
	/* border-top: 2px solid #EEEEEE; */
	border-bottom: 2px solid #6C757D;
    padding: 10px;
    background-color:#EEEEEE;
}

#rslt td {
    padding: 10px;
}

#rslt p {
	/* border-bottom: 1px solid #EEEEEE; */
	background-color: #f4f4f4;
	padding:15px;
	border-radius:8px;
}

#rslt .count {
	float:right;
	margin-right:15px;
	border-radius:50%;
	background-color:pink;
	width:25px;
	height:25px;
	text-align:center;
}

#rslt .canvas {
	max-height: 500px;
	padding: 30px;
}

#list {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	margin:10px;
	padding: 0.5rem 1rem;
	
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	
	display: inline-block;
	width: auto;
	
	border: none;
	border-radius: 4px;
	
	
}

#list:hover {
	background-color:black;
	color:white;
}