<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JEB.survey.repository.RegSurvMapper">
	<select id="getUserInfo" parameterType="String" resultType="String">
		SELECT mem_nick
		  FROM MEMBER
		 WHERE mem_id = #{regId};
	</select>

	<insert id="insertSurv" parameterType="com.JEB.survey.model.SurveyDto">
		INSERT INTO SURVEY( surv_title
                           ,surv_desc
                           ,reg_id
                           ,reg_date
                           ,mod_date
                           ,useYn
                          )
                    VALUES( #{survTitle}
                    	, #{survDesc}
                    	, #{regId} <!-- 나중에 regId로 변경 -->
                    	, GETDATE()
                    	, GETDATE()
                    	, #{useYn}
                    	);
                    	
    </insert>
    
    <insert id="insertSurvqust" parameterType="com.JEB.survey.model.SurvqustDto">
    	<selectKey resultType="int" keyProperty="survNo" order="BEFORE">
        	SELECT ISNULL(MAX(surv_no),0) 
        	  FROM SURVEY;
        </selectKey>
    	 INSERT INTO SURVQUST( surv_no
                           ,qust_seq
                           ,qust_cont
                           ,qust_type
                          )
                    VALUES ( #{survNo}
                    		, #{qustSeq}
                    		, #{qustCont}
                    		, #{qustType}
                    		)
    </insert>

	<insert id="insertQustopt" parameterType="com.JEB.survey.model.QustoptDto">
		<selectKey resultType="int" keyProperty="qustNo" order="BEFORE">
        	SELECT ISNULL(MAX(qust_no),0) FROM SURVQUST;
        </selectKey>
		INSERT INTO QUSTOPT( qust_no
                           ,opt_seq
                           ,opt_cont
                          )
                    VALUES ( #{qustNo}
                    		, #{optSeq}
                    		, #{optCont}
                    		)
	
	</insert>
	
	<select id="getSurvey" parameterType="int" resultType="com.JEB.survey.model.SurveyDto">
		SELECT surv_no AS survNo
			 , surv_title AS survTitle
			 , surv_desc AS survDesc
			 , reg_id AS regId
			 , useYn
			 , reg_date AS regDate
			 , mod_date AS modDate
		  FROM SURVEY
		 WHERE surv_no=#{survNo}
		 ;
	</select>
	
	<select id="getSurvqustList" parameterType="int" resultType="com.JEB.survey.model.SurvqustDto">
		SELECT surv_no AS survNo
			 , qust_no AS qustNo
			 , qust_seq AS qustSeq
			 , qust_type AS qustType
			 , qust_cont AS qustCont
		  FROM SURVQUST
		 WHERE surv_no=#{survNo}
		 ;
	</select>
	
	<select id="getQustoptList" parameterType="int" resultType="com.JEB.survey.model.QustoptDto">
		SELECT qust_no AS qustNo
			 , opt_no AS optNo
			 , opt_seq AS optSeq
			 , opt_cont AS optCont
		  FROM QUSTOPT
		 WHERE qust_no=#{qustNo}
		 ;
	</select>
	
	<update id="delOneSurvey" parameterType="int">
		UPDATE SURVEY
		   SET delYn = 'Y'
		     , useYn = 'N'
		 WHERE surv_no = #{survNo}
		 ;
	</update>

	<delete id="delSurvqust" parameterType="int">
		DELETE
		  FROM SURVQUST
		 WHERE surv_no=#{survNo}
		;
	</delete>
	<delete id="delQustopt" parameterType="int">
		DELETE
		  FROM QUSTOPT
		 WHERE qust_no in (SELECT qust_no
							 FROM SURVQUST
							WHERE surv_no=#{surv_no}
		 				  )
		;
	</delete>
	<delete id="delAnswer" parameterType="int">
		DELETE
		  FROM Answer
		 WHERE qust_no in (SELECT qust_no
							 FROM SURVQUST
							WHERE surv_no=#{surv_no}
		 				  )
		;
	</delete>
	<update id="updateNewSurv" parameterType="com.JEB.survey.model.SurveyDto">
		UPDATE SURVEY
		   SET surv_title = #{survTitle}
		   	 , surv_desc = #{survDesc}
		   	 , mod_date = GETDATE()
		   	 , useYn = #{useYn}
		 WHERE surv_no = #{survNo}
		 ;                    	
    </update>
    <insert id="insertNewSurvqust" parameterType="com.JEB.survey.model.SurvqustDto">
    	 INSERT INTO SURVQUST( surv_no
                           ,qust_seq
                           ,qust_cont
                           ,qust_type
                          )
                    VALUES ( #{survNo}
                    		, #{qustSeq}
                    		, #{qustCont}
                    		, #{qustType}
                    		)
    </insert>

</mapper>