<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JEB.survey.repository.ResSurvMapper">

	<!-- 설문 응답하기 -->
	<insert id="insertAnswer" parameterType="com.JEB.survey.model.AnswerDto">
		insert into answer(
			qust_no ,
			answ_cont,
			answ_long,
			mem_id,
			answ_date
		)values(
			#{qustNo}, <!--설문질묹번호 -->
			#{answCont},
			#{answLong},
			#{memId},
			 GETDATE()
		)
	</insert>

</mapper>