<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JEB.survey.repository.SurvListMapper">

	<select id="getSurvList" parameterType="com.JEB.survey.model.Pagination" resultType="com.JEB.survey.model.SurveyDto">
		SELECT
			survNo, survTitle, regId, regDate, modDate, rownum
		FROM
			(SELECT 	
				surv_no as survNo,
				surv_title as survTitle,
				reg_id as regId,
				reg_date as regDate,
				mod_date as modDate,
				ROW_NUMBER() OVER (ORDER BY mod_date desc) as rownum
			FROM	
				Survey
			WHERE 	
				useYn = 'Y'
				AND delYn = 'N'
			) A
		<if test="firstRecordIndex != null and lastRecordIndex != null">
		WHERE
			rownum BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
		</if>
		;	
	</select>
	
	<select id="getListCnt" resultType="Integer">
		SELECT 	
			count(*)
		FROM	
			Survey
		WHERE 	
			useYn = 'Y'
			AND delYn = 'N'
		;	
	</select>






</mapper>