<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JEB.survey.repository.SurvListMapper">

	<sql id="search">
		<if test="keyword != null and keyword != ''">
		AND
			<choose>
				<when test="'all'.equals(srchTyp)">
					(
						surv_title LIKE CONCAT('%', #{keyword}, '%')
						OR reg_id LIKE CONCAT('%', #{keyword}, '%')
					)
				</when>
				<when test="'title'.equals(srchTyp)">
					surv_title LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="'regid'.equals(srchTyp)">
					reg_id LIKE CONCAT('%', #{keyword}, '%')
				</when>
			</choose>
		</if>
	</sql>
	
	<sql id="mySearch">
		<if test="keyword != null and keyword != ''">
		AND
			surv_title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<choose>
				<when test="'useY'.equals(srchTyp)">
					AND useYn = 'Y'
				</when>
				<when test="'useN'.equals(srchTyp)">
					AND useYn = 'N'
				</when>
		</choose>
	</sql>

	<select id="getSurvList" parameterType="com.JEB.survey.model.SearchVo" resultType="com.JEB.survey.model.SurveyDto">
		SELECT
			survNo, survTitle, regDate, modDate, memNick, rownum
		FROM
			(SELECT 	
				s.surv_no as survNo,
				s.surv_title as survTitle,
				s.reg_id as regId,
				s.reg_date as regDate,
				s.mod_date as modDate,
				m.mem_nick as memNick,
				ROW_NUMBER() OVER (ORDER BY s.mod_date desc, s.surv_no desc) as rownum
			FROM	
				Survey as s
				LEFT JOIN MEMBER as m
				ON s.reg_id = m.mem_id
			WHERE 	
				useYn = 'Y'
				AND delYn = 'N'
			<include refid="search" />
			) A
		<if test="firstRecordIndex != null and lastRecordIndex != null">
		WHERE
			rownum BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
		</if>
		;	
	</select>
	
	<select id="getListCnt" parameterType="com.JEB.survey.model.SearchVo" resultType="Integer">
		SELECT 	
			count(*)
		FROM	
			Survey
		WHERE 	
			useYn = 'Y'
			AND delYn = 'N'
		<include refid="search" />
		;	
	</select>
	
	<select id="getMyList" parameterType="com.JEB.survey.model.SearchVo" resultType="com.JEB.survey.model.SurveyDto">
		SELECT
			survNo, survTitle, regDate, modDate, useYn, rownum
		FROM
			(SELECT 	
				surv_no as survNo,
				surv_title as survTitle,
				useYn,
				reg_date as regDate,
				mod_date as modDate,
				ROW_NUMBER() OVER (ORDER BY mod_date desc, surv_no desc) as rownum
			FROM	
				Survey
			WHERE 	
				reg_id = #{regId}
				AND delYn = 'N'
			<include refid="mySearch" />
			) A
		<if test="firstRecordIndex != null and lastRecordIndex != null">
		WHERE
			rownum BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
		</if>
		;	
	</select>
	
	<select id="getMyCnt" parameterType="com.JEB.survey.model.SearchVo" resultType="Integer">
		SELECT 	
			count(*)
		FROM	
			Survey
		WHERE 	
			reg_id = #{regId}
			AND delYn = 'N'
		<include refid="mySearch" />
		;	
	</select>






</mapper>